body {
    overflow: hidden;
    font-family: sans-serif;
}
h1 {
    text-align: center;
}
.nav {
    width: 50%;
    margin: 0 auto;
    display: block;
}
a {
    margin: 0 auto;
    display: block;
    text-align: center;
    color: cadetblue;
    text-decoration: none;
}
a:hover {
    color: #3c696a;
}
#gameCanvas {
    margin: 0 auto;
    display: block;
    transform: translateY(-50%);
    margin-top: 50vh;
}